In [30]:
import pandas as pd
from aerobot.io import load_training_data, load_validation_data, asset_path
from aerobot.lib import process_data
from aerobot.models import LogisticClassifier

print("Loading data...")
feature_type = "aa_3mer"
training_data = load_training_data(feature_type=feature_type)
validation_data = load_validation_data(feature_type=feature_type)
cleaned_data = process_data(training_data["features"], training_data["labels"]["physiology"], validation_data["features"], validation_data["labels"]["physiology"])

Loading data...

In [31]:
print("Fitting model...")
model = LogisticClassifier(max_iter=100000)
model.fit(cleaned_data["X_train"], cleaned_data["y_train"])

Fitting model...

In [34]:
model.score(cleaned_data["X_train"], cleaned_data["y_train"])

0.96

In [35]:
# take test data and fill nans with zeros
X_test = cleaned_data["X_test"]
X_test = pd.DataFrame(X_test, index=cleaned_data["test_row_labels"], columns=cleaned_data["column_labels"])
X_test = X_test.fillna(0).values
model.score(X_test, cleaned_data["y_test"])

0.7389705882352942

In [22]:
C = model.confusion_matrix(cleaned_data["X_train"], cleaned_data["y_train"])
C= pd.DataFrame(C,index=model.classifier.classes_,columns=model.classifier.classes_)

In [23]:
C.apply(lambda x: x/x.sum(),axis=1)

               Aerobe  Anaerobe  Facultative
Aerobe       0.903188  0.069565     0.027246
Anaerobe     0.116473  0.879368     0.004160
Facultative  0.671395  0.212766     0.115839

In [19]:
C.sum(axis=1)

Aerobe         1739
Anaerobe       1221
Facultative     444
dtype: int64

In [15]:
z = pd.DataFrame(cleaned_data["y_train"])
z["c"] = 1
z.groupby(0).count()

                c
0
Aerobe       1739
Anaerobe     1221
Facultative   444